
.container {
	padding-top: 10px;
	width: 800px;
}

.container .row {
	margin-bottom: 10px;
}

.lightblue {
	background-color: #ccccff;
}

.section-tile {
	width: 385px;
	height: 185px;
	padding: 20px;
	background-color: #ffff66;
}

.section-caption {
	font-size: 16pt;
	width: 275px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.tile {
	width: 185px; 
	height: 185px;
	padding: 10px;
}

.tile-caption {
	font-size: 11pt;
	height: 100px;
}

.big-number {
	position:absolute;
	top: 75px;
	left:90px;
	font-size: 48pt;
	color: #545454;
}

.score-button {
	font-size: 11pt;
	width: 25px;
	padding: 0px 5px 0px 5px;
	margin-left: 3px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.black-border {
	border: solid 2px #000000;
}

.green-border {
	border: solid 1px #00ff00;
}

.tile button:active, .tile button.active, .tile button:focus  {
	 background-color: #00000 !important;
} 

.score-box { display: none 

}

.score-bad {
	background-color: #ff3300;
}

.score-kinda-bad {
	background-color: #ff9933;
}

.score-ok {
	background-color: #ccccff;
}

.score-kinda-good {
	background-color: #99ff99;
}

.score-great {
	background-color: #33cc33;
}